# Use the gruvbox theme
theme: gruvbox

# Use a square, minimal layout
mode: row
lines: 1
columns: 1

# Show a list of options to choose from
options:
    - headphones
    - speakers

# Set the command to run when an option is selected
command: pacmd set-default-sink $option
